@mixin img() {
  & > img {
    display: block;
    width: 100%;
  }
}

@mixin flexBtn($w:9rem, $h:2.25rem,$bgColor:var(--theme-color1),$fontSize:1rem,$color:var(--theme-primary-color1)) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $w;
  height: $h;

  box-sizing: border-box;
  border-radius: var(--theme-btn-border-r1);
  border: var(--theme-btn-border1);
  box-shadow: var(--theme-shadow-color1);
  background-color: $bgColor;

  font-size: $fontSize;
  text-align: center;
  color: $color;
}

@mixin normalPage() {
  margin-top: 5.75rem;
}

@mixin skeletonStyle($height:100%,$bgColor:var(--s-bg-color), $borderRadius:var(--s-border-radius), $bgColor2:var(--s-bg-color2)) {
  height: $height;
  background-color: $bgColor;
  box-sizing: border-box;
  border-radius: $borderRadius;

  background-image: linear-gradient(90deg, $bgColor 25%, $bgColor2 37%, $bgColor 63%);
  background-size: 400% 100%;
  background-position: 100% 50%;
  animation: skeleton-loading 1.4s ease infinite;
}
