@use "fns";
// 使用 @use 替代 @import（Sass 新语法）
@use './common' as *;      // as * 表示导入到全局作用域，兼容现有代码
@use './skeleton' as *;
@use './markdown' as *;
// 注意：CSS 文件（.css）仍然需要使用 @import
@import './prism.css';

:root {
  font-size: calc(16 * 100vw / 1920); // 以1920为基础全屏宽度，16px为基础字体大小
  font-family: var(--font-family1);
  background-color: var(--bg-color1);
}

@media (min-width: 1920px) {
  :root {
    font-size: 16px;
  }
}


body {
  @include fns.resetAll();
  overflow-x: hidden;
  font-family: var(--font-family1);
}

a {
  text-decoration: none;
}

.page {
  box-sizing: border-box;
  min-height: 100vh;

}

figure, ul, li, h1, h2, h3, h4, p {
  @include fns.resetAll();
}

ul, li  {
  list-style: none;
}

/****************************************************************/
/* @vuepress/plugin-back-to-top@next */
:root {
  --back-to-top-z-index: 5;

  --back-to-top-color: #5e8c65;
  --back-to-top-color-hover: #9ab59e;
}

// .back-to-top {
//   width: 2.25rem;
//   height: 2.25rem;

//   // @include themeContainer();

//   // border-radius: 50%;

//   &::after {
//     content: '';
//     width: 2.25rem;
//     height: 2.25rem;
//     overflow: hidden;

//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 100;

//     @include themeContainer();
//     border-radius: 50%;
//   }
// }
/****************************************************************/
