// ------------------- variables -------------------
:root {
  --markdown-h-color: #333333;
  --markdown-font-color1: #666666;
  --markdown-font-color2: #999999;
  --markdown-font-color3: #cccccc;
  --markdown-font-color4: #333333;
  --markdown-font-color5: #3b444a;
  --markdown-font-color6: #0388a6;

  --md-bg-color1: #f2f2f2;

  --code-ln-color: #9e9e9e;
  --code-bg-color: #282c34;
  --code-hl-bg-color: #9ab59e53;

  --spec-bg-color: #9ab59e87;
  --spec-font-color1: #5e8c65;
  --spec-font-color2: #5e8c65;

  --badge-tip-bg: #5e8c65;
  --badge-tip-text: white;

  --badge-warning-bg: #f2b705;
  --badge-warning-text: white;

  --badge-danger-bg: #a6523f;
  --badge-danger-text: white;

  --md-table-border-color: #5e8c6581;
  --md-table-even-row-bg-color: #9ab59e35;
  --md-table-font-size1: 16px;
  --md-table-font-size2: 14px;

  --md-task-item-border: #0388a6;
  --md-task-item-bg: #0388a6;
}

// ------------------ head title ------------------
.theme-markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--markdown-h-color);
    margin: 2rem 0 1rem 0;
    padding: 0;
    line-height: 1.5;
    position: relative;
    box-sizing: border-box;
    padding-left: 1rem;
    cursor: pointer;

    & > .header-anchor {
      display: inline-block;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: -0.25rem;
      color: var(--theme-color8);

      transform: translateY(-50%);

      transition-property: opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 100%;
      background-color: var(--theme-color8);

      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;

      transition-property: width;
      transition-duration: 0.2s;
      transition-timing-function: ease;
    }

    &:hover {
      color: var(--theme-color13);

      &::after {
        width: 0;
      }

      & > .header-anchor {
        opacity: 1;
      }
    }

    & > code {
      font-size: inherit;
      font-weight: inherit;
    }
  }

  h1 {
    font-size: 1.75rem; // 28px

    &::after {
      background-color: var(--theme-h1-color8);
    }
  }

  h2 {
    font-size: 1.5rem; // 24px

    &::after {
      background-color: var(--theme-h2-color8);
    }
  }

  h3 {
    font-size: 1.25rem; // 20px
    font-weight: 400;

    &::after {
      background-color: var(--theme-h3-color8);
    }
  }

  h4 {
    font-size: 1.125rem; // 18px
    font-weight: 400;
    &::after {
      background-color: var(--theme-h4-color8);
    }
  }

  h5 {
    font-size: 1rem; // 16px
    font-weight: 400;

    &::after {
      background-color: var(--theme-h5-color8);
    }
  }

  h6 {
    font-size: 0.875; // 14px
    font-weight: 400;

    &::after {
      background-color: var(--theme-h6-color8);
    }
  }
}

// ------------------ hr ------------------
.theme-markdown {
  hr {
    border-style: dashed;
    border-color: var(--markdown-font-color3);
    margin: 1rem 0;
  }
}

// ------------------ paragraph ------------------
.theme-markdown {
  p {
    margin: 16px 0;
    line-height: 1.8;
    font-size: 16px;
    color: var(--markdown-font-color5);
  }
}

// ------------------ blockquote ------------------
.theme-markdown {
  blockquote {
    max-width: 80%;
    box-sizing: border-box;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 0.25rem;
    margin: 0;

    position: relative;
    background-color: #f2d16d41;
    color: #bf7e06;

    & > p {
      margin: 0;
      margin-bottom: 0.625rem;
      color: inherit;
    }

    &::after {
      content: "٩(ˊ〇ˋ*)و";
      display: inline-block;

      color: #f2b705;
      font-weight: 600;

      position: absolute;
      top: 0.625rem;
      right: 0.25rem;
    }
  }
}

// ------------------ anchor ------------------
.theme-markdown {
  a {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 0.25rem;
    color: #0388a6;
  }
}

// ------------------ list ------------------
.theme-markdown {
  ul {
    display: flex;
    flex-direction: column;

    @supports (gap: 0.5rem) {
      gap: 0.5rem;
    }

    @supports not(gap: 0.5rem) {
      & > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    list-style: disc;

    li {
      line-height: 1.7;
      box-sizing: border-box;
      color: var(--markdown-font-color5);

      p {
        display: inline-block;
        margin: 0;
      }
    }

    & > li {
      list-style: disc inside;

      & > ul {
        & > li {
          list-style: circle inside;
          margin-left: 32px;

          & > ul {
            & > li {
              list-style: square inside;
              margin-left: 32px;

              & > ul {
                & > li {
                  list-style: "◆";
                  margin-left: 40px;
                  box-sizing: border-box;
                  padding-left: 12px;

                  &::marker {
                    content: "◆";
                  }

                  & > ul {
                    & > li {
                      margin-left: 20px;

                      &::marker {
                        content: "◇";
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  ol {
    display: flex;
    flex-direction: column;

    @supports (gap: 0.5rem) {
      gap: 0.5rem;
    }

    @supports not(gap: 0.5rem) {
      & > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    list-style: decimal;

    & > li {
      list-style: decimal;
    }
  }
}

// ------------------ table ------------------
.theme-markdown {
  table {
    box-sizing: border-box;
    border: 0.0625rem solid var(--md-table-border-color);
    border-spacing: 0;
    border-radius: 0.25rem;

    color: var(--markdown-font-color5);

    thead {
      border: none;
      padding: 0;
      margin: 0;
    }

    tr {
      border: none;
      padding: 0;
      margin: 0;

      font-size: var(--md-table-font-size2);

      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    th {
      box-sizing: border-box;
      padding: 4px 8px;
      border-bottom: 0.0625rem solid var(--md-table-border-color);
      border-right: 0.0625rem solid var(--md-table-border-color);

      font-weight: normal;

      &:last-child {
        border-right: none;
      }
    }

    tbody {
      tr:nth-child(2n) {
        background-color: var(--md-table-even-row-bg-color);
      }
    }

    td {
      box-sizing: border-box;
      padding: 4px 8px;
      border-bottom: 0.0625rem solid var(--md-table-border-color);
      border-right: 0.0625rem solid var(--md-table-border-color);

      text-align: center;

      &:last-child {
        border-right: none;
      }
    }
  }
}

//------------------- code ------------------
.theme-markdown {
  // inline-code
  code {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0.1875rem;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

    padding: 0 0.25rem;
    margin: 0 0.25rem;

    background-color: rgb(94, 140, 101, 0.1);
    color: #5e8c65;
    // font-size: 0.875rem;
    font-size: inherit;
    line-height: inherit;
  }

  div[class*="language-"] {
    background-color: var(--code-bg-color);
    margin: 0.625rem 0;
    border-radius: var(--theme-border-radius3);
    overflow: hidden;

    position: relative;

    &::after {
      content: attr(data-ext);
      display: inline-block;
      box-sizing: border-box;
      padding: 0 0.5rem;
      border-radius: 0.25rem;
      margin-top: 0.25rem;

      font-size: 0.75rem;
      font-weight: bold;

      color: var(--theme-color6);
      background-color: #595959;

      position: absolute;
      top: 0;
      right: 1rem;
      z-index: 10;
    }

    code {
      position: relative;
      z-index: 5;
      background-color: unset;
      color: unset;
    }
  }

  pre[class*="language-"] {
    margin: 0;
    padding: 1.5rem 1rem;

    position: relative;
  }

  pre[class*="language-"] {
    .highlight-lines {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 1.5rem 0;

      .highlighted {
        background-color: var(--code-hl-bg-color);
      }
    }
  }

  .line-numbers-mode {
    position: relative;
    box-sizing: border-box;

    & > pre {
      padding-left: 3rem;
    }

    & > .line-numbers {
      display: flex;
      flex-direction: column;

      width: 3rem;
      height: 100%;
      box-sizing: border-box;
      // background-color: ;
      border-right: 1px solid var(--code-hl-bg-color);
      padding: 1.5rem 0;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;

      user-select: none;

      .line-number {
        display: block;

        font-size: 12px;
        line-height: 1.75;
        text-align: center;
        color: var(--code-ln-color);
      }
    }
  }
}

//------------------- img ------------------

.theme-markdown {
  p {
    img {
      max-width: 100%;
    }
  }
}

//------------------- task list ------------------
.theme-markdown {
  input[type="checkbox"].task-list-item-checkbox:checked::after {
    border-color: var(--md-task-item-border);
    background: var(--md-task-item-bg);
  }
}

//------------------- custom-container ------------------
.theme-markdown {
  .custom-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    box-sizing: border-box;
    border-left: 0.375rem solid var(--theme-color2);
    margin: 0.625rem 0;
    padding-left: 0.625rem;
    border-radius: var(--theme-border-radius3);

    .custom-container-title {
      cursor: pointer;
      user-select: none;
    }

    &.tip {
      background-color: var(--tip-info-color);
      border-color: var(--tip-info-font-color);

      .custom-container-title {
        font-weight: var(--theme-font-bold);
        color: var(--tip-info-font-color);
      }

      & > p {
        color: var(--markdown-font-color5);
      }

      code {
        color: var(--theme-color5);
        background-color: var(--theme-color3);
      }
    }

    &.warning {
      background-color: var(--tip-warning-bg-color);
      border-color: var(--tip-warning-font-color2);

      .custom-container-title {
        font-weight: var(--theme-font-bold);
        color: var(--tip-warning-font-color2);
      }

      & > p {
        color: var(--tip-warning-font-color2);
      }

      code {
        color: var(--theme-color7);
        background-color: var(--theme-color6);
      }
    }

    &.danger {
      background-color: var(--tip-error-bg-color);
      border-color: var(--tip-error-font-color);

      .custom-container-title {
        font-weight: var(--theme-font-bold);
        color: var(--tip-error-font-color);
      }

      & > p {
        color: var(--tip-error-font-color);
      }

      code {
        color: var(--theme-color11);
        background-color: var(--theme-color12);
      }
    }

    &.right {
      display: block;
      width: 100%;
      border: none;
      box-sizing: border-box;

      & > p {
        margin: 0;

        font-size: inherit;
        color: inherit;
        text-align: right;
      }
    }

    &.note {
      border: none;
      box-sizing: border-box;
      padding: 48px 16px 12px 48px;

      position: relative;

      background-color: #a0c3d93e;

      & > p {
        margin: 0;
        margin-bottom: 10px;
        color: #024959;
      }

      &::before {
        content: "( ￣ー￣)φ__";

        font-size: 14px;
        color: #0388a6;

        position: absolute;
        top: 12px;
        left: 10px;
      }
    }
  }

  .custom-block {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 48px;
    margin: 10px 0;

    &.details {
      overflow: hidden;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: var(--spec-bg-color);

      summary {
        box-sizing: border-box;
        padding: 14px 16px;
        height: 48px;

        cursor: pointer;
        user-select: none;
        font-weight: var(--theme-font-bold);
        color: var(--spec-font-color2);
      }

      & > p {
        box-sizing: border-box;
        padding: 12px 16px;
        margin: 0;
        color: var(--markdown-font-color5);
      }

      & > div[class*="language-"] {
        margin: 0 2% 24px 2%;
      }
    }

    &.theorem {
      width: 72%;
      box-sizing: border-box;
      padding: 20px 48px 32px 48px;
      border-radius: 4px;
      background-color: var(--md-bg-color1);

      color: var(--markdown-font-color1);

      position: relative;

      &::before {
        content: "“";
        width: 24px;
        height: 24px;

        line-height: 1;
        text-align: center;
        font-size: 72px;
        font-family: serif;
        color: var(--markdown-font-color3);

        position: absolute;
        top: 10px;
        left: 10px;
      }

      &::after {
        content: "”";
        width: 24px;
        height: 24px;

        line-height: 1;
        text-align: center;
        font-size: 72px;
        font-family: serif;
        color: var(--markdown-font-color3);

        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      & > .title {
        margin: 0;
        margin-bottom: 16px;
      }

      & > p {
        margin: 0;
        margin-bottom: 10px;
      }

      & > .right {
        margin: 0;
      }
    }
  }

  .center-container {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 0 auto;

    box-sizing: border-box;
    border-radius: 4px;
    padding: 24px;

    background-color: var(--md-bg-color1);

    & > em {
      display: block;

      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: var(--markdown-font-color4);
    }

    & > p {
      font-size: 14px;
      color: var(--markdown-font-color5);
      line-height: 1.5;
    }
  }
}

//------------------ toc ------------------
.vuepress-toc {
  .vuepress-toc-list {
    .vuepress-toc-item {
      a {
        display: inline-block;
        box-sizing: border-box;
        padding: 0.25rem 0.5rem;

        font-size: 0.875rem;
        color: var(--markdown-font-color5);
        text-decoration: none;
        transition: color 0.3s;

        position: relative;

        &:hover {
          // color: var(--markdown-font-color6);
          color: white;

          &::before {
            background-color: var(--md-task-item-bg);
            width: 100%;
          }
        }

        &::before {
          content: "";
          display: block;
          width: 0%;
          height: 100%;

          box-sizing: border-box;
          border-radius: 3px;

          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;

          background-color: transparent;

          transition-property: width;
          transition-duration: 0.2s;
          // transition-delay: 0.3s;
          transition-timing-function: ease;
        }
      }
    }
  }

  & > .vuepress-toc-list {
    list-style: disc;

    & > .vuepress-toc-item {
      list-style: disc inside;

      & > .vuepress-toc-list {
        box-sizing: border-box;
        padding-left: 1.5rem;

        & > .vuepress-toc-item {
          list-style: circle inside;
        }
      }
    }
  }
}
